@media all and (max-width:540px){
    .card-detalle{
        display: flex;
        flex-direction: column;
            
    }
}
@media all and (max-width:920px){
    .card-detalle{
        display: flex;
        flex-direction: column;
            
    }
}